<!DOCTYPE html>
<html lang="en">
  <body>
    <header style="padding: 0.5em">
      <h1>Activate your account</h1>
    </header>

    <main style="padding: 0.5em">
      <p style="margin: 0">Hi there,</p>
      <p style="margin: 0">
        Thank you for signing up with us. To activate your account, please click
        the link below:
      </p>
      <a
        style="
          color: #10a37f;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2em;
        "
        href="{{ activation_url }}"
        >Activate account</a
      >
      <p style="margin: 0">
        If you did not sign up with us, please ignore this email.
      </p>
    </main>

    <footer style="padding: 0.5em">
      <p style="margin: 0">Regards,</p>
      <p style="margin: 0">SpaceShaman</p>
    </footer>
  </body>
</html>
